body  {background-color: rgb(0, 0, 0);}


.forest {
    position:absolute;  
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);;
    background-size: contain;
    background-repeat: no-repeat;
    width:510px;
    height: 383px;
    border-radius: 5px;
    border-color: rgb(156, 144, 125);
    border-style: groove;
    overflow: hidden;
}





#clock {
    width: 29px;
    height: auto;
    position: absolute;
    left: 30%;
    top: 40%
}

.arrow {
    width: 45px;
    position: absolute;
    z-index: 10;
    height:auto
}

.set {
    opacity: 1%;
    position: absolute;
    height: 160px;}

    .silhouette {
        opacity: 1%;
        position: absolute;
        height: 160px;}
    
    

    .npc {
        position: absolute;
    }

.textbox {
    position:absolute;  
    left: 3%;
    right: 3%;
    bottom: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.72);
    height: 100px;
    border-radius: 5px;
    border-color: rgb(156, 144, 125);
    border-style: groove;
    color: white;
    overflow: hidden;
    z-index: 50;
}

#fish{
  animation: fishright 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 6s;
}

#fish2{
  animation: fishleft 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

#fish3{
  animation: fishleft 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 15s;
}

@keyframes fishright {
  from {left: -20%;}
  to {left: 300%;}
}


@keyframes fishleft {
  from {left: 150%;}
  to {left: -300%;}}